body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.date {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 42px;
    color: white;
    font-size: 30px;
}

.win {
    position: absolute;
    width: 4.16vw;
    height: 4.16vw;
}

.win img {
    width: 100%;
}

.winning-0 {
    bottom: 60px;
    left: 521px;
    /*border: 1px solid red;*/
}

.winning-1 {
    bottom: 63px;
    left: 609px;
    /*border: 1px solid red;*/
}

.winning-2 {
    bottom: 63px;
    left: 697px;
    /*border: 1px solid red;*/
}

.winning-3 {
    bottom: 60px;
    left: 784px;
    /*border: 1px solid red;*/
}

.score {
    position: absolute;
    top: 110px;
    right: 47px;
}

.score-2 {
    position: absolute;
    top: 110px;
    left: 38px;
}

.score td,
.score-2 td {
    width: 110px;
    height: 29px;
    text-align: center;
    border: 1px solid transparent;
}

.separator {
    height: 44px;
}

.separator-2 {
    height: 31px;
}