.date {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    color: white;
    font-size: 30px;
}

.win {
    position: absolute;
    width: 60px;
    height: 60px;
}

.win img {
    width: 100%;
}

.winning-0 {
    bottom: 77px;
    left: 39.2vw;
}

.winning-1 {
    bottom: 77px;
    left: 45vw;
}

.winning-2 {
    bottom: 77px;
    left: 50.8vw;
}

.winning-3 {
    bottom: 77px;
    left: 56.6vw;
}

.score {
    position: absolute;
    top: 124px;
    right: 150px;
}

.score td {
    width: 100px;
    height: 26px;
    text-align: center;
}

.separator {
    height: 43px;
}

.separator-2 {
    height: 30px;
}