body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.date {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    color: white;
    font-size: 30px;
}

.win {
    position: absolute;
    width: 4.16vw;
    height: 4.16vw;
}

.win img {
    width: 100%;
}

.winning-0 {
    bottom: 74px;
    left: 534px;
}

.winning-1 {
    bottom: 74px;
    left: 613px;
}

.winning-2 {
    bottom: 74px;
    left: 692px;
}

.winning-3 {
    bottom: 74px;
    left: 772px;
}

.score {
    position: absolute;
    top: 121px;
    right: 144px;
}

.score-2 {
    position: absolute;
    top: 121px;
    left: 135px;
}

.score td,
.score-2 td {
    width: 92px;
    height: 23px;
    text-align: center;
}

.separator {
    height: 38px;
}

.separator-2 {
    height: 28px;;
}